
*{
	box-sizing: border-box;
}

.wg-navbar{
	padding-top:1rem;
	padding-bottom:1rem;
	z-index: 100;
}

.wg-navbar, .wg-navbar *{
	transition: all .3s ease-out;
	-webkit-transition: all .3s ease-in-out;
	-o-transition:all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;

}
.wg-navbar.nav-fixed{
	color: #555;
    background: #fff;
    box-shadow: 0 3px 0 rgba(20,97,255,.15);
    position: fixed;
    padding-top:1rem;
	padding-bottom:1rem;

}
.banner{
	position: relative;
	background-blend-mode: normal;
	background:url("../img/banner/home-hero.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	min-height:500px;
}
.banner-content{
	height:300px;
}
#product-grid{
	gap: 1rem;
    width: 100%;
    display: grid;
    justify-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fill,minmax(220px,350px));
}